/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
div {
    display: block;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
a:link {
    text-decoration: none;
}
div#fullsize {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
div#top {
    background-color: #f2f2f2;
    color: firebrick;
    font-family: verdana, arial, helvetica, sans-serif;
    margin: auto;
    width: 100%;
    height: 60px;
    text-align: center;
}
div#topContent {
    width: 100%;
    text-align: right;
    padding-top: 25px;
    padding-right: 10px;
}
div#topnav {
    height: 25px;
    background-color: #d3d3d3;
}
div#topnavContent {
    float: right;
    height: 20px;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 5px;
    word-spacing: 24px;
    font-size: 12px;
    margin: auto;
    background-color: #d3d3d3;
}
div#fullsize #container {
    background-color: #f2f2f2;
    overflow: hidden;
    top: auto;
}
div#leftnav {
    margin-top: 1%;
    background-color: #cadeb9;
    color: #000000;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 200%;
    width: 20%;
    float: left;
    overflow-x: hidden;
    top: auto;
}
div#main {
    background-color: #ffffff;
    color: #333;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 130%;
    margin-left: 20%;
    padding: 3%;
    padding-top: 1%;
    overflow: hidden;
    margin-bottom: 0px;
    top: auto;
    min-height: 500px;
}
div#footer {
    background-color: #cadeb9;
    font-family: verdana, arial, helvetica, sans-serif;
    margin: auto;
    width: 100%;
    height: 20px;
    padding: 10px;
    text-align: center;
}
div#leftnav a:link {
    padding-top: 10px;
    padding-left: 10px;
    display: block;
    font-size: 13px;
    padding-bottom: 4px;
}
table {
    width: 100%;
}