<!DOCTYPE html>
<html lang="en-US" style="height: 100%;">
<head>
  <title>Haha</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="fullsize">
  <div id="top">
    <div id="topContent">
      <p id="displaydate"></p>
        <script type="text/javascript">
            var d_names = new Array("Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday");
            var m_names = new Array("January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December");
            var d = new Date();
            var curr_day = d.getDay();
            var curr_date = d.getDate();
            var sup = "";
            if (curr_date == 1 || curr_date == 21 || curr_date ==31) {
                sup = "st";
            }
            else if (curr_date == 2 || curr_date == 22) {
                sup = "nd";
            }
            else if (curr_date == 3 || curr_date == 23) {
                sup = "rd";
            }
            else {
                sup = "th";
            }
            var curr_month = d.getMonth();
            var curr_year = d.getFullYear();
            document.write(d_names[curr_day] + " " + curr_date + "<SUP>" + sup + "</SUP> " + m_names[curr_month] + " " + curr_year);
            </script>
    </div>
  </div>

  <div id="topnav">
    <div id="topnavContent">
      <a class="topnav" target="_top" href="/welcome/index/">HOME</a>
      <a class="topnav" target="_top" href="/posts/">POSTS</a>
    </div>
  </div>

  <div id="container">
    <div id="leftnav">
      <a target="_top" href="/welcome/index/">WELCOME</a>
      <a target="_top" href="/posts/">POSTS LIST</a>
      <a target="_top" href="/posts/">TBD</a>
    </div>

    <div id="main">
      <%= yield %>
    </div>
  </div>

  <div id="footer">
    papa I love you!
  </div>
</div>
</body>
</html>
